{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="alert alert-info">
        <h2>About Sapphire</h2>
        <p>Sapphire ML is a project made in order to help non-technical and newbies to know more about Machine Learning. Our mission is to educate as many people about Machine Learning as possible!</p>
        <p>This is a joint project by Sparsh Joshi & Kalpit Shah.</p>
        <p><a target="_blank" href="https://github.com/sparsh42">Sparsh</a> is an undergraduate of ICT at AIIE, Ahmedabad. He is into Data Analytics and Machine Learning. You can check out his podcast <a target="_blank" href="http://popscical.com/menu.html">here</a>!</p>
        <p><a target="_blank" href="https://www.linkedin.com/in/kalpit-shah-676a61168/">Kalpit</a> is an undergraduate of ICT at AIIE, Ahmedabad. He is Co-founder of <a target="_blank" href="http://academix.in/">Academix</a> which is an Ed-tech startup. He is on his way to become an expert web developer.</p>
    </div>
</div>
{% endblock %}